/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,700,900);
@import "bootstrap-sprockets";
@import "bootstrap";
*{
	font-family: monospace;
}
#logo {
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding: 15px 0;
	margin-left: 80px;
	a {
		color: #2F363E;
	}
}

#main_content {
	#content {
		float: none;
	}
	padding-bottom: 100px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: #FF4500;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
	}
	#comments {
		.comment {
			padding: 1em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}

.navbar-default {
	  background-color: #54BFEE;

  border-radius: 0px;
  border: 0px;
}

.navbar-default .navbar-nav > li > a {
color: #3C3C5D;
  font-family: monospace;

}

.submenu { 
	  background-color: #fff;
}

#pill{
	  position: absolute;
}

.btn-group, .btn-group-vertical {
  font-family: monospace;
}

h2 a {
  color: #54BFEE;
  font-family: 'Courier', serif;

}

h2 small {
	  font-size: 48%;
	    font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  color: rgba(84, 191, 238, 0.53);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container body {
  padding-top: 600px;
}

.btn-default {
  color: #333358;
  border: 0px;
  font-family: monospace !important;
    background: #FEFFC9;
  border-radius: 0px;
}

#subnavbar {

	text-align: right;
}

#subnav {
list-style-type:none; 
padding: 4px 84px;
    margin: auto; 
    position:relative; 
    display:inline-flex; 
      margin-top: 10px;
}

#subnav li{
  margin-left: 21px;
}

#subnav a{
 font-family: 'Source Sans Pro', sans-serif;
font-weight: 900;
text-transform: uppercase;
  color:  #3C3C5D;
}

#subnav img{
  margin-left: 6px;
}

.footer {
	text-align: right;
	background: rgba(10, 33, 48, 0.15);
	width: 100%;
	height: 40px;
	padding: 11px 120px;

}

.footer .azul {
	background: #c7f5ec;
	color: #43bce6;
	padding: 3px 10px;
}

.footer .amarillo {
	background: #feffc9;
	color: #43bce6;
	padding: 3px 10px;
}

#ordenador {
  right: 12px;
	position: absolute;
	  z-index: 9999;

}

#banner {

	width: 100%;
	margin-top: 40px;
}    

.btn-primary {

	  color: white;
  background-color: #3AA8FC;
  border-color: #343459;
}


.btn-primary:hover {

	  color: rgb(67, 188, 230);
  background-color: #C7F5EC;
  border-color: #52C1E3;
}

a {
  color: #3BA8FB;
  text-decoration: none;
}

.olvidar-contrasena input {

	  margin-top: 20px;
  margin-bottom: 11px;
  background: #FEFFC9;
  border: none;
}


.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
  text-align: center;

  }


  .alert-info {
  background-color: #FEFFC9;
  border: 2px solid #C7F5EC;
  color: #54BFEE;
}

.thumb-img {
  height: 100px;
  width: 100px;
  margin-top: 20px;
}

.cat-title {
 font-family: 'Source Sans Pro', sans-serif;
font-weight: 900;
text-transform: uppercase;
  color:  #3C3C5D;
}

.cat-box {
  float: right;
}
